body {
  margin: 0;
  padding: 0;
  background-color: #F1EACC;
}

#app {
  width: 390px;
  height: auto;
  background-color: #F1EACC;
}
#app nav {
  width: 390px;
  height: 70px;
  position: fixed;
  bottom: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-content: center;
  background-color: #F1EACC;
  position: sticky;
  bottom: 0;
}
#app nav .list {
  width: 358px;
  height: 70px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
}
#app nav .list .link {
  width: 24px;
  height: 30px;
}