.ReceptText {
  width: 390px;
  height: auto;
}
.ReceptText body {
  background: #F1EACC;
}
.ReceptText .container {
  max-width: 358px;
}
.ReceptText .top {
  height: 45px;
}
.ReceptText .top .container {
  height: 70px;
  display: flex;
  align-items: center;
}
.ReceptText .container .img-1 {
  width: 16px;
  height: 12px;
}
.ReceptText .container .img-3 {
  width: 24px;
  height: 24px;
}
.ReceptText .top-text {
  width: 302px;
}
.ReceptText .main {
  height: 63px;
}
.ReceptText .main .container {
  height: 70px;
  display: flex;
  align-items: center;
}
.ReceptText .step {
  width: 358px;
  height: 55px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #000;
}
.ReceptText .step .img-2 {
  width: 22px;
  height: 22px;
  margin: 1px 16px 0px 0px;
}
.ReceptText .step-text {
  width: 300px;
  height: 55px;
  font-family: "Montserrat Alternates";
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
  color: #000000;
  border-right: 1px solid #000;
  display: flex;
  align-items: center;
  margin: 0 0 0 0;
}
.ReceptText .properties .container {
  height: 56px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.ReceptText .properties .container img {
  width: 20px;
  height: 20px;
}
.ReceptText .user, .ReceptText .time, .ReceptText .star {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #1A1A1A;
  display: flex;
  align-items: center;
  text-indent: 10.33px;
}
.ReceptText .user p, .ReceptText .time p, .ReceptText .star p {
  margin: 0;
}
.ReceptText .recept, .ReceptText .recept-con {
  height: 350px;
}
.ReceptText .recept {
  display: flex;
  align-items: flex-end;
}
.ReceptText .recept-con {
  max-width: 358px;
  display: flex;
  flex-flow: column;
}
.ReceptText .recept-con .block {
  height: 299px;
  border-radius: 19px;
  display: flex;
}
.ReceptText .buttons {
  height: 10px;
  display: flex;
  align-items: flex-end;
}
.ReceptText .btn-con {
  height: 50px;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  align-items: center;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: lowercase;
  color: #000000;
}
.ReceptText .btn-con .btn {
  width: 100%;
  height: 38px;
  border-radius: 19px;
}
.ReceptText .btn-con .btn-1 {
  background: #F1EACC;
  border: 1px solid #1A1A1A;
}
.ReceptText .description .container {
  height: 80px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
}
.ReceptText .ingredients {
  height: 208px;
}
.ReceptText .ingredients .container {
  display: flex;
  flex-flow: column;
  justify-content: space-around;
}
.ReceptText .ingredients .text-1 {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  color: #000000;
}
.ReceptText .ingredients .text-2 {
  display: flex;
  justify-content: space-between;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
  border-bottom: 1px solid #85786A;
  padding: 0 0 7px 0;
  margin: 0 0 30px 0;
}