@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

.sign-in{
    width: 298px;
    height: 96px;
    .sign-con{
        height: 70px;

        display: flex;
        flex-flow: column;
        justify-content: space-around;
        align-items: center;
        a {
            text-decoration: none;
            color: #000;
        }
        
        .social{
            width: 185px;
            display: flex;
            justify-content: space-around;
            img{
                width: 36px;
                height: 32px;
        
                cursor: pointer;
            }
            
        }
        
    }
}

