@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

.registration{
  width: 390px;
  .container{
    width: 390px;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    svg{
      width: 96px;
      height: 43px;
    }
  }
}

.autorisation{
  width: 390px;
  .container{
    width: 390px;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    svg{
      width: 96px;
      height: 43px;
    }
  }
}