body {
  margin: 0;
  padding: 0;
  background-color: #F1EACC;
}

#app{
  width: 390px;
  height: 100vmax;
  background-color: #F1EACC;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  .list{
    width: 358px;
    height: 70px;
    
    display: flex;
    justify-content: space-around;
    align-items: center;

    list-style: none;

    margin: 0;
    padding: 0;
    
    position: sticky;
    bottom: 0;

    .link{
      width: 24px;
      height: 30px;

    }
    .link-active{
      border-bottom: 3px solid #f4d031;
    }
  }
  .active{
    display: none;
  }
}

